######################################################################
# Route for handling Registrations:
######################################################################
route[REGISTER] {
	# Provide some statistics
	if ($sht(a=>$ci::start_time) == $null || $sht(a=>$ci::start_time) == 0) {
		$sht(a=>$ci::start_time) = $TV(Sn);
	}
	xnotice("Destination URI: $du\n Request URI: $ru\n");
	xnotice("Source IP and Port: ($si:$sp)\n Route-URI: $route_uri\n");
	xnotice("Received IP and Port: ($Ri:$Rp)\n");
	xnotice("Contact header: $ct\n");

	# Strip Transport from RURI:
	$ru = $(ru{re.subst,/;transport=[A-Za-z]*//g});

	if (is_present_hf("Contact")) {
		pcscf_save_pending("pcscf_location");
	} else {
		send_reply("403", "No contact header");
		exit;
	}

#!ifdef WITH_N5
	$var(reg_exp) = $expires(min);
	xlog("L_INFO","Expires for $fu is $var(reg_exp)\n");
	if ($expires(min) == 0) {
		xlog("L_INFO","Delete N5 App session for $fu due to de-register from UE\n");
		route(N5_REG_PCF_POLICY_AUTH_DELETE);
	}
#!endif

	# Strip additional Tags from RURI:
	if ($rU == $null)
		$ru = "sip:"+$rd;
	else
		$ru = "sip:"+$rU+"@"+$rd;

#!ifdef WITH_RX
	if ($expires(min) != 0) {
		xlog("L_DBG","Subscribing to signalling bearer status\n");

		Rx_AAR_Register("REG_AAR_REPLY", "pcscf_location");
		switch ($retcode) {
			case -1:
				# There was an error sending the AAR-Request:
				xlog("L_ERR", "Diameter: AAR failed on subscription to signalling\n");
				send_reply("403", "Can't register to QoS for signalling");
				exit;
				break;
			case 0:
				# We are waiting for an async reply, just exit here.
				exit;
				break;
			case 1:
				# We did not need to send AAR, so just continue as normal
				route(REGISTER_CONTINUE);
				break;
		}
	} else {
		# Proceed with Registering:
		route(REGISTER_CONTINUE);
	}
	exit;
}

route[REG_AAR_REPLY] {
	switch ($avp(s:aar_return_code)) {
		case 1:
			xlog("L_DBG", "Diameter: AAR success on subscription to signalling\n");
			break;
		default:
			xlog("L_ERR", "Diameter: AAR failed on subscription to signalling\n");
			send_reply("403", "Can't register to QoS for signalling");
			exit;
	}
	# Proceed with Registering:
	route(REGISTER_CONTINUE);
}

route[REGISTER_CONTINUE] {
#!endif
	append_hf("Path: <sip:term@HOSTNAME;lr>\r\n");

	remove_hf("Supported");
	append_hf("Supported: path\r\n");
	remove_hf("Require");
	append_hf("Require: path\r\n");

	# Add a visited Network-ID-Header:
	if (is_present_hf("P-Visited-Network-ID")) {
		$var(new_hdr) = "NETWORKNAME, "+$hdr(P-Visited-Network-ID);
		append_hf("P-Visited-Network-ID: $var(new_hdr)\r\n");
	} else {
		append_hf("P-Visited-Network-ID: NETWORKNAME\r\n");
	}
#!ifdef WITH_SBC
#!ifndef WITH_SBC_CALL
	t_on_failure("SBC_failure");
	# Choose an SBC to send the call to:
	if (!ds_select_dst(DISPATCHER_LIST_SBC, "4")) {
		send_reply("503", "Service Unavailable (SBC failure)");
		exit;
	}
#!else
	t_on_failure("REGISTER_failure");
#!endif
#!else
	t_on_failure("REGISTER_failure");
#!endif
	t_on_reply("REGISTER_reply");
	# Forward request:
	route(RELAY);
	exit;
}

# Replies for REGISTER requests:
######################################################################
onreply_route[REGISTER_reply]
{
#!ifdef WITH_IMS_HDR_CACHE
	if (is_present_hf("Service-Route")) {
		$sht(serviceroutes=>$ci) = $hdr(Service-Route);
	} else {
		if ($sht(serviceroutes=>$ci) != $null) {
			append_hf("Service-Route: $sht(serviceroutes=>$ci)\r\n");
			msg_apply_changes();
		}
	}
	if (is_present_hf("P-Associated-URI")) {
		$sht(associateduris=>$ci) = $hdr(P-Associated-URI);
	} else {
		if ($sht(associateduris=>$ci) != $null) {
			append_hf("P-Associated-URI: $sht(associateduris=>$ci)\r\n");
			msg_apply_changes();
		}
	}
#!endif

	if (t_check_status("200")) {
#!ifdef WITH_IPBLOCK
		$sht(failedauth=>$T_req($si)) = $null;
#!endif
		pcscf_save("pcscf_location");

#!ifdef WITH_NATPING
		if ($(T_req($hdr(Security-Client))) =~ ".*ipsec-3gpp.*") {
			$var(sec_client) = $(T_req($hdr(Security-Client)));
			xnotice("Security-Client=$var(sec_client)\n");
			$var(sc_port_c) = $(var(sec_client){re.subst,/.*port-c=([0-9]*).*$/\1/s});
			xnotice("port-c=$var(sc_port_c)\n");
			$var(sc_port_s) = $(var(sec_client){re.subst,/.*port-s=([0-9]*).*$/\1/s});
			xnotice("port-s=$var(sc_port_s)\n");
		}
		if ($(T_req($hdr(Security-Verify))) =~ ".*ipsec-3gpp.*") {
			$var(sec_verify) = $(T_req($hdr(Security-Verify)));
			xnotice("Security-Verify=$var(sec_verify)\n");
			$var(sv_port_c) = $(var(sec_verify){re.subst,/.*port-c=([0-9]*).*$/\1/s});
			xnotice("port-c=$var(sv_port_c)\n");
			$var(sv_port_s) = $(var(sec_verify){re.subst,/.*port-s=([0-9]*).*$/\1/s});
			xnotice("port-s=$var(sv_port_s)\n");
		}
#!ifdef WITH_PING_UDP
		if ($pr == "udp") {
			sht_lock("natping=>natpinglock");
			if ($(T_req($hdr(Security-Client))) =~ ".*ipsec-3gpp.*") {
				$var(ouri) = "sip:"+$T_req($si)+":"+$var(sc_port_s);
			} else {
				$var(ouri) = "sip:"+$T_req($si)+":"+$T_req($sp);
			}
			$sht(natping=>$var(ouri)) = $(T_req($ct){nameaddr.uri});
			sht_unlock("natping=>natpinglock");

			sht_lock("natpingfrom=>natpingfromlock");
			if ($(T_req($hdr(Security-Verify))) =~ ".*ipsec-3gpp.*") {
				$sht(natpingfrom=>$var(ouri)) = "udp:"+$T_req($Ri)+":"+$var(sv_port_c);
			} else {
				$sht(natpingfrom=>$var(ouri)) = "udp:"+$T_req($Ri)+":"+$T_req($Rp);
			}
			sht_unlock("natpingfrom=>natpingfromlock");
		}
#!endif
#!ifdef WITH_PING_TCP
		if ($pr == "tcp") {
			sht_lock("natping=>natpinglock");
			if ($(T_req($hdr(Security-Client))) =~ ".*ipsec-3gpp.*") {
				$var(ouri) = "sip:"+$T_req($si)+":"+$var(sc_port_s)+";transport=tcp";
			} else {
				$var(ouri) = "sip:"+$T_req($si)+":"+$T_req($sp)+";transport=tcp";
			}
			$sht(natping=>$var(ouri)) = $(T_req($ct){nameaddr.uri});
			sht_unlock("natping=>natpinglock");

			sht_lock("natpingfrom=>natpingfromlock");
			if ($(T_req($hdr(Security-Verify))) =~ ".*ipsec-3gpp.*") {
				$sht(natpingfrom=>$var(ouri)) = "tcp:"+$T_req($Ri)+":"+$var(sv_port_c);
			} else {
				$sht(natpingfrom=>$var(ouri)) = "tcp:"+$T_req($Ri)+":"+$T_req($Rp);
			}
			sht_unlock("natpingfrom=>natpingfromlock");
		}
#!endif
#!ifdef WITH_PING_TLS
		if ($pr == "tls") {
			sht_lock("natping=>natpinglock");
			if ($(T_req($hdr(Security-Client))) =~ ".*ipsec-3gpp.*") {
				$var(ouri) = "sip:"+$T_req($si)+":"+$var(sc_port_s)+";transport=tls";
			} else {
				$var(ouri) = "sip:"+$T_req($si)+":"+$T_req($sp)+";transport=tls";
			}
			$sht(natping=>$var(ouri)) = $(T_req($ct){nameaddr.uri});
			sht_unlock("natping=>natpinglock");

			sht_lock("natpingfrom=>natpingfromlock");
			if ($(T_req($hdr(Security-Verify))) =~ ".*ipsec-3gpp.*") {
				$sht(natpingfrom=>$var(ouri)) = "tls:"+$T_req($Ri)+":"+$var(sv_port_c);
			} else {
				$sht(natpingfrom=>$var(ouri)) = "tls:"+$T_req($Ri)+":"+$T_req($Rp);
			}
			sht_unlock("natpingfrom=>natpingfromlock");
		}
#!endif
#!endif
		#update stats for register reply on success
		$var(start_secs) = $(sht(a=>$ci::start_time){s.select,0,.});
		$var(start_usecs) = $(sht(a=>$ci::start_time){s.select,1,.});
		$var(diff_secs) = $TV(s) - $var(start_secs);
		$var(diff_usecs) = $TV(u) - $var(start_usecs);
		$var(diff_ms) = $var(diff_secs)*1000 + ($var(diff_usecs)/1000);
		$sht(a=>$ci::start_time)=0;
		$var(stat_add) = "+" + $var(diff_ms);
		xlog("L_DBG", "REGISTER SUCCESS[$ci] took $var(stat_add)ms\n");
		update_stat("register_success", "+1");
		update_stat("register_time", "$var(stat_add)");
#!ifdef WITH_IPSEC
		sht_lock("ipsec_clients=>ipsec_clients_lock");
		if ($sht(ipsec_clients=>$T_req($si)) != $null) {
			# IPSec forward only if its an IPsec client
			ipsec_forward("pcscf_location", IPSEC_FORWARD_FLAGS);
		}
		if ($T_req($expires(min)) == 0) {
			$sht(ipsec_clients=>$T_req($si)) = $null;
		}
		sht_unlock("ipsec_clients=>ipsec_clients_lock");

#!ifdef WITH_N5
		$var(reg_exp) = $expires(min);
		xlog("L_INFO","Expires for $fu is $var(reg_exp)\n");
		# Create App session only upon receiving 200 OK for SIP REGISTER and is not a deregistration scenario.
		if ($expires(min) > 0) {
			route(N5_REG_PCF_POLICY_AUTH);
		}
#!endif
	}
	else {
		if (t_check_status("401")) {
			if($(T_req($hdr(Security-Client))) != $null && ipsec_create("pcscf_location", IPSEC_DELETE_UNUSED_TUNNELS)!=1) {
				send_reply("503", "Service Unavailable (Create ipsec failed)");
			}
			sht_lock("ipsec_clients=>ipsec_clients_lock");
			if ($sht(ipsec_clients=>$T_req($si)) != $null) {
				$var(sec_client) = $(T_req($hdr(Security-Client)));
				xnotice("Security-Client=$var(sec_client)\n");
				$var(sc_port_c) = $(var(sec_client){re.subst,/.*port-c=([0-9]*).*$/\1/s});
				xnotice("port-c=$var(sc_port_c)\n");
				$var(sc_port_s) = $(var(sec_client){re.subst,/.*port-s=([0-9]*).*$/\1/s});
				xnotice("port-s=$var(sc_port_s)\n");
			}
			sht_unlock("ipsec_clients=>ipsec_clients_lock");
			xnotice("Expires=$(T_req($expires(min)))\n");
			if (is_present_hf("WWW-Authenticate")) {
				# Remove ck and ik.
				$var(old_hdr) = $hdr(WWW-Authenticate);
				xnotice("Old header - WWW-Authenticate=$var(old_hdr)\n");
				remove_hf("WWW-Authenticate");
				$var(new_hdr) = $(hdr(WWW-Authenticate){re.subst,/(, *)?(ck|ik)=\"\w+\"//gi});
				if ($(var(new_hdr){s.len}) > 0) {
					append_hf("WWW-Authenticate: $var(new_hdr)\r\n");
				}
				xnotice("New header - WWW-Authenticate=$var(new_hdr)\n");
			}
		}
#!endif
	}
	exit;
}

# Negative replies to REGISTER requests:
######################################################################
failure_route[REGISTER_failure]
{

#!ifdef WITH_N5
	# Terminate N5 Session on Reg Failure.
	if (t_check_status("403|408|[5-6][0-9][0-9]")) {
		route(N5_REG_PCF_POLICY_AUTH_DELETE);
	}
#!endif

#!ifdef WITH_IPBLOCK
	if (t_check_status("403|[5-6][0-9][0-9]")) {
		if ($sht(failedauth=>$si) != $null)
			$sht(failedauth=>$si) = $sht(failedauth=>$si) + 1;
		else
			$sht(failedauth=>$si) = 1;
		if ($sht(failedauth=>$si) > 10) {
			xlog("L_ALERT","ALERT: blocking $rm from $fu (IP:$si:$sp), more than 5 failed auth requests!\n");
			xlog("Blocking traffic from $si\n");
			$sht(ipban=>$si) = 1;
		}
		update_stat("register_failed", "+1");
	}
#!endif
	if (t_check_status("408")) {
		send_reply("504","Server Time-Out");
		update_stat("register_failed", "+1");
		exit;
	}

}

#!ifdef WITH_N5

# N5 Policy Authorization - Create Application session context for SIP Registration.
route[N5_REG_PCF_POLICY_AUTH]
{
	# Send N5 PCF policy authorization only on successful replies to REGISTER requests.
	if (!is_method("REGISTER") || !is_reply()) {
		return;
	}
	xlog("L_INFO","SIP Registration - Creating N5 QoS Auth session for $fu\n");

	$var(ue_policy_authorization_body) = '{
		"ascReqData": {
			"afAppId": "+g.3gpp.icsi-ref=\"urn%3Aurn-7%3A3gpp-service.ims.icsi.mmtel\"",
			"dnn": "ims",
			"medComponents": {
				"0": {
					"medCompN": 0,
					"qosReference": "qosVoNR",
					"medType": "CONTROL",
					"medSubComps": {
						"0": {
							"fNum": 0,
							"fDescs": [
								"permit out ip from PCSCF_REG_IP PCSCF_REG_PORT to UE_REG_IP UE_REG_PORT",
								"permit in ip from UE_REG_IP UE_REG_PORT to PCSCF_REG_IP PCSCF_REG_PORT"
							],
							"fStatus": "ENABLED",
							"flowUsage": "AF_SIGNALLING"
						}
					}
				}
			},
			"evSubsc": {
				"events": [
					{
						"event": "QOS_NOTIF",
						"notifMethod": "PERIODIC"
					},
					{
						"event": "ANI_REPORT",
						"notifMethod": "ONE_TIME"
					}
				]
			},
			"notifUri": "http://N5_BIND_IP:N5_BIND_PORT",
			"sponStatus": "SPONSOR_DISABLED",
			"supi": "imsi-UE_IMSI",
			"suppFeat": "2",
			"ueIpv4": "UE_REG_IP"
		}
	}';
	$var(ue_policy_authorization_body) = $(var(ue_policy_authorization_body){re.subst,/PCSCF_REG_IP/$T_req($Ri)/g});
	$var(ue_policy_authorization_body) = $(var(ue_policy_authorization_body){re.subst,/PCSCF_REG_PORT/$T_req($Rp)/g});
	$var(ue_policy_authorization_body) = $(var(ue_policy_authorization_body){re.subst,/UE_REG_IP/$viaZ(host)/g});
	$var(ue_policy_authorization_body) = $(var(ue_policy_authorization_body){re.subst,/UE_REG_PORT/$viaZ(port)/g});
	$var(ue_policy_authorization_body) = $(var(ue_policy_authorization_body){re.subst,/UE_IMSI/$T_req($au)/g});
	jansson_append("obj", "", "$var(ue_policy_authorization_body)", "$var(ue_policy_authorization_json_body)");

	# Set HTTP2 request headers.
	$var(time_now)=$_s($timef(%a, %d %b %Y %H:%M:%S %Z));
	$var(headers) = "Content-Type: application/json\r\n";
	$var(headers) = $var(headers) + "3gpp-sbi-discovery-target-nf-type: PCF\r\n";
	$var(headers) = $var(headers) + "accept: application/json\r\n";
	$var(headers) = $var(headers) + "accept: application/problem+json\r\n";
	$var(headers) = $var(headers) + "3gpp-sbi-max-rsp-time: 10000\r\n";
	$var(headers) = $var(headers) + "3gpp-sbi-discovery-service-names: npcf-policyauthorization\r\n";
	$var(headers) = $var(headers) + "3gpp-sbi-sender-timestamp: " + $var(time_now);

	xlog("L_INFO","SIP Registration. Sending N5 QoS Auth for $fu to PCF\n");
	# Send the request to PCF.
	http_client_request_v2pk("POST", "http://SCP_BIND_IP:SCP_BIND_PORT/npcf-policyauthorization/v1/app-sessions", "$var(ue_policy_authorization_json_body)", "$var(headers)", "$var(result)" );

	switch ($rc) {
		# Success case.
		case 201:
			xlog("L_INFO", "N5 QoS Session successfully Created $rc\n");
			xlog("L_INFO", "HTTP results: [$var(result)]\n");
			xlog("L_INFO", "HTTP response/ Return code: [$rc]\n");
			xlog("L_INFO", "Location Header: [$httprhdr(location)]\n");

			# Retrieve the AppSession Id out of the location Header if the resopnse is 201.
			# Example URL: "http://SCP_BIND_IP:SCP_BIND_PORT/npcf-policyauthorization/v1/app-sessions/(someSessionID)"

			# Extract the AppSession Id.
			$var(response_url) = $httprhdr(location);
			$var(response_url) = $(var(response_url){s.trim});
			$var(app_session) = $(var(response_url){s.select,-1,/});

			xlog("L_INFO", "AppSession Id for user $T_req($au) is: $var(app_session)\n");

			# Store the AppSession Id in the hash table associated with the UE's IMSI.
			$sht(imsi_to_app_session_map=>$T_req($au)) = $var(app_session);
			xlog("L_INFO", "Stored AppSession Id for user $T_req($au): $var(app_session)\n");

			# Store the UE IMSI in the hash table associated with the IP address in the last Via SIP header.
			$sht(ue_ip_to_imsi_map=>$viaZ(host)) = $T_req($au);
			xlog("L_INFO", "Stored IMSI for IP $viaZ(host) is: $T_req($au)\n");
			break;
		# Failure case.
		default:
			xlog("L_ERR", "N5 QoS Session authorization failed for UE with IMSI $T_req($au). Reason code: $rc\n");
			send_reply("412", "Register N5 QoS authorization failed");
			exit;
	}
}

# N5 Policy Authorization - Application session deletion upon UE De-registration.
route[N5_REG_PCF_POLICY_AUTH_DELETE]
{
	if (!is_reply()) {
		# In case of request take the first Via header.
		$var(ue_ip) = $via0(host);
	} else {
		# In case of reply take the first Via header from the corresponding request.
		$var(ue_ip) = $T_req($via0(host));
	}
	# Retrieve the AppSession Id from the hash table.
	if ($sht(ue_ip_to_imsi_map=>$var(ue_ip)) == $null) {
		xlog("L_WARN", "UE with IP $var(ue_ip) is not registered\n");
		return;
	}
	$var(ue_imsi) = $sht(ue_ip_to_imsi_map=>$var(ue_ip));
	if ($sht(imsi_to_app_session_map=>$var(ue_imsi)) == $null) {
		xlog("L_WARN", "No AppSession found for UE with IMSI $var(ue_imsi)\n");
		return;
	}
	$var(ue_appsess_dereg) = $sht(imsi_to_app_session_map=>$var(ue_imsi));
	xlog("L_INFO", "Terminating stored AppSession with Id $var(ue_appsess_dereg) for user with IMSI $var(ue_imsi)\n");

	# Set HTTP2 request headers.
	$var(time_now)=$_s($timef(%a, %d %b %Y %H:%M:%S %Z));
	$var(headers) = "Content-Type: application/json\r\n";
	$var(headers) = $var(headers) + "X-SIP-Status: De-Registration\r\n";
	$var(headers) = $var(headers) + "3gpp-sbi-discovery-target-nf-type: PCF\r\n";
	$var(headers) = $var(headers) + "accept: application/json\r\n";
	$var(headers) = $var(headers) + "accept: application/problem+json\r\n";
	$var(headers) = $var(headers) + "3gpp-sbi-max-rsp-time: 10000\r\n";
	$var(headers) = $var(headers) + "3gpp-sbi-discovery-service-names: npcf-policyauthorization\r\n";
	$var(headers) = $var(headers) + "3gpp-sbi-sender-timestamp: " + $var(time_now);

	$var(json_request) = "";

	http_client_request_v2pk("POST", "http://SCP_BIND_IP:SCP_BIND_PORT/npcf-policyauthorization/v1/app-sessions/$var(ue_appsess_dereg)/delete", "$var(json_request)", "$var(headers)", "$var(result)" );
	xlog("L_INFO", "CURL error: [$curlerror(error)]\n");
	xlog("L_INFO", "HTTP results: [$var(result)]\n");
	xlog("L_INFO", "HTTP response/ Return code: [$rc]\n");
	xlog("L_INFO", "Location Header: [$httprhdr(location)]\n");

	# Clear hashtable content irrespective of the response from PCF/IMS as the UE has de-registered and the session context needs to be cleared locally.
	$sht(imsi_to_app_session_map=>$var(ue_imsi)) = $null;
	$sht(ue_ip_to_imsi_map=>$var(ue_ip)) = $null;
}

#!endif
