[{ocs,
      [
      {diameter,
            [{
                  acct,
                  [{
                              {OCS_COMMA_SEPARATED_IP}, OCS_BIND_PORT,
                              [
                                    {'Origin-Host', "ocs.EPC_DOMAIN"},
                                    {'Origin-Realm', "EPC_DOMAIN"},
                                    {'Host-IP-Address', "OCS_IP"},
                                    {'Auth-Application-Id', [4]},
                                    {sub_id_type, [imsi, msisdn]}
                              ]
                  }]
            }]
      },
      {acct_log_rotate, 1440},
      {acct_log_rotate_time, {4,4,4}},
      {acct_log_dir, "log/acct"},
      {auth_log_dir, "log/auth"},
      {abmf_log_dir, "log/abmf"},
      {ipdr_log_dir, "log/ipdr"},
      {export_dir, "log/export"},
      {tls_key, "ssl/key.pem"},
      {tls_cert, "ssl/cert.pem"},
      {tls_cacert, "ssl/ca.pem"}]},
{radius,
      [{sock_opts, [{recbuf, 131072}, {sndbuf, 131072}]}]},
{mnesia,
      [{dir, "db"}]},
{snmp,
      [{agent,
           [{config, [{dir, "snmp/conf"}]},
           {db_dir, "snmp/db"}]}]},
{inets,
      [{services,
         [{httpd,
            [{server_name, "ocs"},
            {directory_index, ["index.html"]},
            {directory, {"/health", []}},
            {directory, {"/partyRoleManagement", []}},
            {directory, {"/",
                  [{auth_type, mnesia},
                  {auth_name, "ocs.sigscale.org"},
                  {require_group, ["staff"]}]}},
            {transfer_disk_log, "log/http/transfer"},
            {security_disk_log, "log/http/security"},
            {error_disk_log, "log/http/error"},
            {transfer_disk_log_size, {10485760, 10}},
            {error_disk_log_size, {10485760, 10}},
            {security_disk_log_size, {10485760, 10}},
            {disk_log_format, internal},
            {modules,
                  [mod_alias,
                  mod_auth,
                  mod_responsecontrol,
                  mod_ocs_rest_accepted_content,
                  mod_ocs_rest_get,
                  mod_get,
                  mod_ocs_rest_head,
                  mod_ocs_rest_post,
                  mod_ocs_rest_patch,
                  mod_ocs_rest_delete,
                  mod_disk_log]},
            {mime_types,
                  [{"html", "text/html"},
                  {"css", "text/css"},
                  {"js", "application/javascript"},
                  {"json", "application/json"},
                  {"svg", "image/svg+xml"},
                  {"png", "image/png"},
                  {"csv", "text/csv"}]},
            {port, 8083},
            {socket_type, ip_comm},
%           {socket_type, {essl,
%                 [{certfile, "ssl/cert.pem"},
%                 {keyfile, "ssl/key.pem"}]}},
            {server_root, "./"},
            {alias, {"/doc", "lib/RELEASENAME/doc"}},
            {alias, {"/schema", "lib/RELEASENAME/priv/schema"}},
            {document_root, "lib/RELEASENAME/priv/www"}]}]}]}].
